.header-layout {
  background-color: #ffdb58;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;

  .header-logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    .header-logo {
      height: 40px;
      border-radius: 100px;
      display: flex;
      margin: 0 18px;
    }
  }
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  .logo {
    height: 64px;
  }
}
.popper-container{
  .MuiPaper-elevation {
    .ant-typography {
      .popup-container {
        .popup-btn {
          padding: 6px 10px;
          width: 120px;
          border: none;
          background-color: transparent;
          color: #3a3737;
          display: flex;
          align-items: center;
          gap: 5px;
          &:hover {
            background-color: #f3f0c8;
            border-radius: 4px;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
