.login-container {
  display: flex;
  align-items: center;
  gap: 20px;
  .login-image {
    flex: 3;
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;

    .login-form-title {
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 20px;
    }

    .login-form-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:hover {
          border: 1px solid #9b8c4c;
        }

        &:focus {
          border: 1px solid #9b8c4c;
          outline: none;
        }
      }

      button {
        padding: 10px;
        font-size: 16px;
        background-color: #9b8c4c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #665920;
        }
      }
    }
  }
}
