:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 16px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}
