// Màu chính
$color-primary: #1677ff;
$color-secondary: #13c2c2;
$color-danger: #ff4d4f;
$color-warning: #faad14;
$color-success: #52c41a;

// Màu nền
$bg-main: #f5f5f5;
$bg-white: #ffffff;

// Màu chữ
$text-main: #333;
$text-light: #999;
$text-white: #fff;